.container-fluid {
    background-color:aquamarine;
}

#blue {
    width: 10em;
    height: 160px;
}

#green {
    width: 10em;
    height: 160px;
}

#red {
    width: 10em;
    height: 160px;
}

#yellow {
    width: 10em;
    height: 160px;
}